.main-container {
  position: "relative";
}

.main-swiper-container {
  height: calc(100vh - 75px); /* Adjust height as needed */
}

.main-hero {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.main-individual-slide-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-individual-slide-image {
  width: 110%; /* Ensure the image spans the full width of the slide */
  height: 100%; /* Ensure the image spans the full height of the slide */
  object-fit: cover; /* Cover the slide without stretching the image */
}

.hero-carousel .hero-image {
  /* Large viewport height for hero images */
  object-fit: cover; /* Ensure full coverage of the image */
}
