/* mobilemaburgertoggle.css */
.container {
  background-color: #0056b3;
  position: fixed; /* Fixed position to stay in place during scroll */
  top: 0; /* Align to the top of the viewport */
  left: 0; /* Align to the left of the viewport */
  width: 100%; /* Full width of the viewport */
  height: 100vh; /* Full height of the viewport */
  z-index: 1000; /* High z-index to ensure it's on top of other content */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center items vertically */
  align-items: center; /* Center items horizontally */
  overflow: hidden; /* Hide overflow */
}

.toggled-navbar-nav {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  list-style: none;
  text-align: center; /* Center the text of each nav item */
  padding: 0;
}

.toggled-nav-item a {
  display: block; /* Makes the anchor tag fill the li element */
  font-size: 2em; /* Big text size, adjust as needed */
  color: white; /* Text color */
  padding: 20px 0; /* Add some padding to increase tap area */
  text-decoration: none; /* Removes underline from links */
}

.toggled-nav-item .emergency {
  font-weight: bold; /* Make EMERGENCY text bolder */
}

/* Add styles for the hamburger icon if it's within the same container */
.toggled-hamburger-icon {
  position: absolute;
  top: 20px; /* Adjust based on your design */
  right: 20px; /* Adjust based on your design */
  color: white; /* Icon color */
  font-size: 2em; /* Match the icon size with the nav text */
}
