.section {
  display: flex;
  align-items: center;
}

/* Section One - Text on left, image on right */
.section-one {
  height: calc(50vh - 75px);
  display: flex;
  background-color: #f0f0f0; /* Grey background */
}

.section-one .text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 2;
  padding-right: 20px; /* Spacing between text and image */
}

.section-one .image-container {
  flex: 1;
  display: flex;
  justify-content: flex-start; /* Aligns the image to the right */
}

.section-one h1 {
  color: #333;
  font-size: 24px; /* Set a specific font size */
  border-bottom: 3px solid #0073e6; /* Blue underline */
  display: inline-block;
  margin-bottom: 10px;
  padding-bottom: 5px;
}

/* Section Two - Image on left, text on right */
.section-two {
  height: 50vh;
  background-color: #fff; /* White background */
}

.section-two .text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  flex: 2;
  padding-left: 20px; /* Spacing between image and text */
}

.section-two .image-container {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: flex-end; /* Aligns the image to the left */
}

.section-two h2 {
  color: #0073e6; /* Nice blue color for the header */
  font-size: 24px; /* Set the same font size as .section-one h1 */
  border-bottom: 3px solid #0073e6; /* Blue underline */
  display: inline-block;
  margin-bottom: 10px;
  padding-bottom: 5px;
}

.pet-image {
  max-height: (50vh - 85px); /* Make the image fill the container height */
  width: 16rem; /* Make the image fill the container width */
  object-fit: cover; /* Cover the area, may crop the image */
  border-radius: 20px; /* Rounded corners for the image */
}

.text-container p {
  max-width: 50rem; /* Adjust this value as needed */
  margin: 0;
  line-height: 1.6;
}

@media (min-width: 1025px) and (max-width: 1400px) {
  .section-one h1,
  .section-two h2 {
    font-size: 30px; /* Increase the font size for larger screens */
    margin-bottom: 12px; /* Optionally adjust the margin */
    padding-bottom: 10px; /* Optionally adjust the padding */
  }

  .text-container p {
    max-width: 40rem;
    font-size: 16px; /* Increase the paragraph font size for readability */
  }

  .pet-image {
    width: 14rem; /* Increase the width of the image */
    height: auto; /* Adjust height automatically based on the width to maintain aspect ratio */
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .section-one h1,
  .section-two h2 {
    font-size: 24px; /* Increase the font size for larger screens */
    margin-bottom: 12px; /* Optionally adjust the margin */
    padding-bottom: 10px; /* Optionally adjust the padding */
  }

  .text-container p {
    max-width: 30rem;
    font-size: 14px; /* Increase the paragraph font size for readability */
  }

  .pet-image {
    width: 15rem; /* Increase the width of the image */
    height: auto; /* Adjust height automatically based on the width to maintain aspect ratio */
  }
}

@media (max-width: 768px) {
  .section {
    flex-direction: row; /* Arrange items in a row instead of a column */
    height: 50vh; /* Set each section to full viewport height */
  }

  .section .text-container,
  .section .image-container {
    flex: 1; /* Allocate equal space to both containers */
    height: 100%; /* Ensure each container takes the full height of the section */
    display: flex; /* Enable flex display for alignment */
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
  }

  .section .text-container {
    padding: 0 20px; /* Add some padding for text readability */
  }

  .section .image-container {
    flex: 0;
    display: flex; /* Ensure the image container is displayed as flex */
    justify-content: center; /* Center the image horizontally */
    align-items: center; /* Center the image vertically */
  }

  .pet-image {
    display: none;
    height: auto; /* Cover the container while preserving the aspect ratio */
  }

  .text-container p {
    text-align: left; /* Align the text to the left */
    max-width: none; /* Remove the max-width restriction */
  }
}
