.section {
  display: flex;
  align-items: center;
}

/* Section One - Text on left, image on right */
.section-one {
  height: calc(50vh - 75px);
  display: flex;
  background-color: #f0f0f0; /* Grey background */
}

.section-one .text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 2;
  padding-right: 20px; /* Spacing between text and image */
}

.section-one .image-container {
  flex: 1;
  display: flex;
  justify-content: flex-start; /* Aligns the image to the right */
}

.section-one h1 {
  color: #333;
  font-size: 24px; /* Set a specific font size */
  border-bottom: 3px solid #0073e6; /* Blue underline */
  display: inline-block;
  margin-bottom: 10px;
  padding-bottom: 5px;
}

/* Section Two - Image on left, text on right */
.section-two {
  height: 50vh;
  background-color: #fff; /* White background */
}

.section-two .text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  flex: 2;
  padding-left: 20px; /* Spacing between image and text */
}

.section-two .image-container {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: flex-end; /* Aligns the image to the left */
}

.section-two h2 {
  color: #0073e6; /* Nice blue color for the header */
  font-size: 24px; /* Set the same font size as .section-one h1 */
  border-bottom: 3px solid #0073e6; /* Blue underline */
  display: inline-block;
  margin-bottom: 10px;
  padding-bottom: 5px;
}

.pet-image {
  height: 100%; /* Make the image fill the container height */
  width: 15rem; /* Make the image fill the container width */
  object-fit: cover; /* Cover the area, may crop the image */
  border-radius: 20px; /* Rounded corners for the image */
}

.text-container p {
  max-width: 600px; /* Adjust this value as needed */
  margin: 0;
  line-height: 1.6;
}

@media (max-width: 768px) {
  .section {
    flex-direction: column;
    height: auto;
  }

  .section .text-container,
  .section .image-container {
    flex: none;
    width: 100%;
    padding: 10px 0; /* Adjust padding for smaller screens */
  }

  .pet-image {
    display: none;
    width: auto; /* Adjust image width to fit its container */
    max-height: 200px; /* Adjust max height for smaller screens */
  }

  .text-container p {
    max-width: 100%; /* Allow text to fill the container on smaller screens */
  }

  .section-two h2 {
    display: flex;
    justify-self: center;
  }
}
