.hours-container {
  display: flex;
  flex-direction: row;
  min-height: calc(100vh - 75px); /* Adjusted to account for the navbar */
  max-height: calc(100vh - 75px); /* Adjusted to account for the navbar */
  background-color: #f9f9f9; /* Updated container background color */
}

.hours-leftPanel {
  background-color: #ffffff; /* Keeping it classic white for a clean look */
  width: 100%;
  height: calc(100vh - 75px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
  border-right: 4px dashed #4a90e2; /* Stylish dashed border for separation */
}

.hours-rightPanel {
  padding-top: 45px;
  height: calc(30vh - 75px);
  /* Additional right panel styles if needed */
}

.hours-leftPanel h2,
.hours-rightPanel h2 {
  font-size: 2.5rem; /* Updated size for headings */
  color: #4a90e2; /* A soothing blue for headings */
  margin-bottom: 1rem;
  font-weight: 600; /* Slightly bolder for emphasis */
}

.hours-leftPanel p,
.hours-rightPanel p {
  font-size: 1.4rem; /* Good size for readability */
  color: #5a5a5a; /* A darker grey for text to provide better readability */
  margin: 0.5rem 0;
  line-height: 1.6;
}

/* Emphasized text style */
.hours-rightPanel .please-call-important,
.hours-leftPanel .please-call-important {
  /* If you have emphasized text on the left panel too */
  font-weight: bold;
  color: #ffffff; /* White text for contrast */
  background-color: #e74c3c; /* A bold red color to catch attention */
  padding: 0.5rem 1rem;
  border-radius: 5px;
  margin-top: 1rem; /* Additional spacing from the text above */
}

@media (max-width: 768px) {
  .hours-container {
    flex-direction: column;
  }

  .hours-leftPanel,
  .hours-rightPanel {
    width: 100%;
    height: auto; /* Adjust height to content */
    border-right: none; /* Remove border for mobile view */
  }

  .hours-leftPanel h2,
  .hours-rightPanel h2 {
    font-size: 2rem; /* Slightly smaller headings for mobile */
  }

  .hours-leftPanel p,
  .hours-rightPanel p {
    font-size: 1rem; /* Smaller text for mobile devices */
  }
}
