.emergency-container {
  padding-top: 91px;
  height: calc(100vh - 91px);
  width: 100%;
  background-color: #fff; /* Assuming a white background */

  align-items: center;
  justify-content: space-around;
  font-family: "Arial", sans-serif; /* Use the font that matches your design */
}

.emergency-header-container {
  padding-top: 2.5rem;

  display: flex;
  align-items: center;
  flex-direction: column;
}

.emergency-header {
  justify-self: center;
  font-size: 36px; /* Adjust the size to match your design */
  font-weight: bold;
  margin-bottom: 12px;
}

.emergency-instructions {
  font-size: 24px; /* Adjust the size to match your design */ /* Adjust the margin to match your design */
  text-align: left;
  max-width: 1000px; /* Adjust the width to match your design */
}

.emergency-lists {
  display: flex;
}

.emergency-column {
  /* display: grid; */
  grid-template-columns: 1fr; /* all content in a single column */

  width: 100%;
}

.emergency-type {
  display: flex;
  justify-content: center;
  font-size: 28px; /* Adjust the size to match your design */
  font-weight: bold;
}

.emergency-link {
  justify-self: center;
  grid-column: 1 / -1; /* link stretches across the full grid width */
  grid-row: span 2;
  padding-top: 0.5rem;
  font-size: 24px; /* Adjust the size to match your design */
  color: #0000ee; /* Standard link color, adjust if needed */
  text-decoration: none; /* No underline, adjust if needed */
  margin-bottom: 10px; /* Adjust the margin to match your design */
}

.emergency-link:hover {
  text-decoration: underline; /* Underline on hover, adjust if needed */
}

.emergency-link-info {
  display: block; /* Ensure the additional information is displayed on a new line */
  font-size: 18px; /* Smaller font size for the additional information */
  color: #555; /* Subdued color for the additional information */
}

@media (min-width: 1025px) and (max-width: 1400px) {
}

@media (min-width: 769px) and (max-width: 1024px) {
  .emergency-header {
    font-size: 28px; /* Slightly larger for tablet devices */
  }

  .emergency-instructions {
    font-size: 20px; /* Adjusted for readability on tablets */
  }

  .emergency-type {
    font-size: 24px; /* Larger type for clarity */
  }

  .emergency-link {
    font-size: 20px; /* Links are larger for easier interaction */
  }

  .emergency-link-info {
    font-size: 16px; /* Info text size increased for tablets */
  }
}

@media (min-width: 615px) and (max-width: 768px) {
  .emergency-container {
    justify-content: space-evenly;
  }

  .emergency-header {
    font-size: 24px;
  }

  .emergency-instructions {
    font-size: 16px;
  }

  .emergency-type {
    font-size: 20px;
  }

  .emergency-link {
    font-size: 16px; /* Adjust the size to match your design */
  }

  .emergency-link-info {
    font-size: 12px;
  }
}

@media (max-width: 614px) {
  .emergency-header-container {
    border: none !important;

    box-shadow: none !important;
  }
  .emergency-container {
    height: calc(200vh -91px);
  }

  .emergency-header-container {
    display: flex;
    justify-content: center;
    height: calc(100vh + 91px);
    margin: 0;
    padding: 0;
  }

  .emergency-lists {
    height: calc(100vh + 91px);
    margin: 0;
    padding: 0;
  }

  .emergency-header {
    font-size: 24px;
  }

  .emergency-instructions {
    font-size: 14px;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
  }

  .emergency-type {
    font-size: 20px;
  }

  .emergency-link {
    justify-self: center;
    grid-column: 1 / -1; /* link stretches across the full grid width */
    grid-row: span 2;
    padding-top: 0.5rem;
    font-size: 16px; /* Adjust the size to match your design */
    color: #0000ee; /* Standard link color, adjust if needed */
    text-decoration: none; /* No underline, adjust if needed */
    margin-bottom: 2px; /* Adjust the margin to a smaller value */
  }

  .emergency-link-info {
    font-size: 12px;
  }
  .emergency-lists {
    /* flex-direction: column; */
    display: block;
  }
}

.map-content {
  background-color: white;
  color: black !important;
  padding-top: 0px;
  margin-top: -10px;
  border-radius: 5px;
  padding: 0px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.map-content a {
  color: black;
  font-weight: bolder;
}

.map-wrapper {
  margin-top: 20px;
}

.mapIcon {
}

.iframe {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.get-direction-btn {
  padding: 10px 10px;
  /* background-color: white; */
  color: black !important;
  border-radius: 0.3rem;
  height: fit-content !important;
  font-size: 20px;
}

.emergency-header-container {
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.5s;
  border: 4px solid #000;
  border-radius: 1rem;
  box-shadow: 10px 10px #7a7ef1;
  margin-bottom: 20px;
  margin-top: 30px;
}

.emergency-link-info {
  color: black;
}

.hospital-name {
  color: #7a7ef1;
}

.phone-number {
  font-size: 16px;
}

@media (min-width: 1600px) {
  .emergency-column {
    margin-top: 7.5rem;
  }

  .emergency-header-container {
    margin-top: 5rem;
  }
}
