.emergency-container {
  padding-top: 91px;
  height: calc(100vh - 91px);
  width: 100%;
  background-color: #fff; /* Assuming a white background */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-family: "Arial", sans-serif; /* Use the font that matches your design */
}

.emergency-header-container {
  padding-top: 2.5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.emergency-header {
  justify-self: center;
  font-size: 36px; /* Adjust the size to match your design */
  font-weight: bold;
  margin-bottom: 12px;
}

.emergency-instructions {
  font-size: 24px; /* Adjust the size to match your design */ /* Adjust the margin to match your design */
  text-align: left;
  max-width: 600px; /* Adjust the width to match your design */
}

.emergency-lists {
  display: flex;
  justify-content: space-around;
  width: 100%;
  justify-content: center; /* Horizontally center the list containers */
  width: 80%; /* Adjust the width to center the content */
  max-width: 1200px;
}

.emergency-column {
  display: grid;
  grid-template-columns: 1fr; /* all content in a single column */
  grid-row-gap: 10px;
  margin: 0 10px; /* Add spacing between the columns */
  width: 100%;
}

.emergency-type {
  display: flex;
  justify-content: center;
  font-size: 28px; /* Adjust the size to match your design */
  font-weight: bold;
}

.emergency-link {
  justify-self: center;
  grid-column: 1 / -1; /* link stretches across the full grid width */
  grid-row: span 2;
  padding-top: 0.5rem;
  font-size: 24px; /* Adjust the size to match your design */
  color: #0000ee; /* Standard link color, adjust if needed */
  text-decoration: none; /* No underline, adjust if needed */
  margin-bottom: 10px; /* Adjust the margin to match your design */
}

.emergency-link:hover {
  text-decoration: underline; /* Underline on hover, adjust if needed */
}

.emergency-link-info {
  display: block; /* Ensure the additional information is displayed on a new line */
  font-size: 18px; /* Smaller font size for the additional information */
  color: #555; /* Subdued color for the additional information */
}

@media (min-width: 1025px) and (max-width: 1400px) {
}

@media (min-width: 769px) and (max-width: 1024px) {
  .emergency-header {
    font-size: 28px; /* Slightly larger for tablet devices */
  }

  .emergency-instructions {
    font-size: 20px; /* Adjusted for readability on tablets */
  }

  .emergency-type {
    font-size: 24px; /* Larger type for clarity */
  }

  .emergency-link {
    font-size: 20px; /* Links are larger for easier interaction */
  }

  .emergency-link-info {
    font-size: 16px; /* Info text size increased for tablets */
  }
}

@media (max-width: 768px) {
  .emergency-header {
    font-size: 24px;
  }

  .emergency-instructions {
    font-size: 16px;
  }

  .emergency-type {
    font-size: 20px;
  }

  .emergency-link {
    font-size: 16px; /* Adjust the size to match your design */
  }

  .emergency-link-info {
    font-size: 12px;
  }
}
