.mainContainer {
  display: flex;
  flex-direction: column;
  padding-top: 91px; /* Adjusted for a navbar if present */
  width: 100%;
}

.contentSide {
  width: 100%;
  margin-top: 10px;
}

.arrivalInstructions {
  height: 100vh;
  text-align: center;
  color: #1976d2; /* White text */
}

.swiperContainer {
  position: relative;
  height: 100vh;
  overflow: hidden; /* Ensures images are contained within the corners */
}

.swiperContainer img {
  width: 100%; /* Image width will not exceed container's width */
  height: 100%; /* Image height will not exceed container's height */
  object-fit: cover; /* Image will maintain its aspect ratio within the container */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .mainContainer {
    flex-direction: column;
  }

  .contentSide {
    width: 100%;
    padding: 0; /* Remove padding on mobile for full-width */
  }

  .arrivalInstructions {
    margin-right: 0; /* Removes the right margin on mobile */
  }
}
