/* Navbar.css */
.navbar {
  position: fixed;
  background-color: rgb(0, 0, 0);
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  width: 98%;
  padding: 1rem 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 75px;
  color: white;
  z-index: 100000;
}

.navbar-nav {
  width: 100%;
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  transition: max-height 0.3s ease; /* Smooth transition for expanding/collapsing menu */
}

.navbar-phone {
  display: flex;
  align-items: center; /* Ensures vertical alignment with other nav items */
  justify-content: center; /* Center the content if it's the only item in a flex container */
  padding: 0 1rem; /* Consistent padding with other nav items */
}

.navbar-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.phone-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #fff; /* Color to match your nav item theme */
  font-weight: bold;
  text-decoration: none;
  background-color: transparent; /* Or any color that fits your navbar's theme */
  border: 2px solid #fff; /* Optional: adds a border to make it stand out */
  padding: 0.25rem 0.75rem; /* Adjust padding to match the size of other nav items */
  border-radius: 5px; /* Rounded corners */
  transition: all 0.3s ease-in-out; /* Smooth transition for hover effects */
  min-width: 180px;
}

.phone-link:hover {
  transform: scale(0.9);
  color: white; /* Text color on hover */
  text-decoration: none; /* Prevents underline on hover */
}

.nav-item,
.navbar-logo {
  font-weight: bold;
  padding: 0 1rem;
}

.navbar-logo {
  height: 5rem;
}

.facebook-icon {
  margin-right: 25px;
}

.facebook-icon:hover {
  transform: scale(1.05);
}

/* The logo and the Facebook icon need specific styles to ensure they don't grow disproportionately */
.navbar-logo,
.facebook-icon {
  flex: 0 0 auto;
}

.nav-item a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.nav-item:hover {
  transition: all 0.3s ease;
  transform: scale(0.9);
}
.nav-item a:hover {
  color: #565be6;
}

.emergency a {
  color: white;
  background-color: #090fbd;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

.emergency a:hover {
  transform: scale(0.9);
}

/* Hide dropdown menus by default */
.dropdown-menu {
  display: none;
  position: absolute;
  box-shadow: none; /* Removes any shadow to keep the style simple */
  border: none; /* Removes borders */
}

/* Positioning for dropdown menus */
.nav-item.dropdown {
  position: relative;
}

/* Show dropdown menu on hover */
.nav-item.dropdown:hover .dropdown-menu {
  display: block; /* Show the dropdown */
  padding-left: 0; /* Removes default padding */
  background: white; /* Matches the navbar background */
  list-style: none; /* Removes bullet points */
}

/* Style for dropdown items */
.dropdown-menu li a {
  color: #fff; /* Match the color with your nav item links */
  padding: 0.5rem 0.5rem; /* Provides padding for each dropdown item */
  display: block; /* Ensures the link covers the full list item area for easier clicking */
  text-align: left;
  font-size: 1rem;
  text-decoration: none;
}

/* Change background color slightly on hover to indicate hover state */
.dropdown-menu li a:hover {
  background-color: #f0f0f0; /* Light grey background on hover */
}

.active-link a {
  color: #565be6;
}

/* Responsive design for phone sizes */
@media (max-width: 768px) {
  .menu-icon {
    margin-right: 25px;
  }
  .navbar-nav {
    flex-direction: column;
    align-items: center;
    max-height: 0;
    overflow: hidden;
  }

  /* This will make the navbar-nav take up the full height when active (e.g., when a hamburger menu is toggled) */
  .navbar-nav.active {
    max-height: 500px; /* Adjust as needed */
  }

  .facebookIcon {
    display: none;
  }
}
